.music-badge{
    background-color: #ffffff;
    padding: 6px;
    display: flex;
    align-items: center;
    width: min-content;
    position:relative;
    margin-left: 30%;
}

.art {
    height: 64px;
    width: 64px;
}

.image {
    height: 100%;
    width: 100%;
}

.text {
    width: 160px;
    margin-left: 12px;
}

.music-badge{
    border-radius: 12px;

}

.image{
    border-radius: 8px;

}

.artist{
    color: #000000aa;
}

.art{
    position: relative;

}

.overlay{
    position:absolute;
    inset: 0 0 0 0;

    border-radius: 8PX;
    background-color: #00000055;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bar{
    width: 6px;
    height: 24px;

    background-color: white;

    margin: 3px;
    border-radius: 3px;

    animation: bar 1400ms infinite;
}

@keyframes bar {
    0%{ height: 10px;}
    50%{ height: 24px;}
    100%{height: 10px;}
}

.bar:nth-child(even) {
    animation-delay: 700ms;
}
